.appointment-form {
  max-width: 100%;
  margin: 20px auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* Two columns for left and right sides */
  gap: 20px;
}

.form-left {
  grid-column: 1 / 2;
}

.form-right {
  grid-column: 2 / 3;
}

.form-group {
  margin-bottom: 15px;
}

.form-group-right {
  margin-bottom: 15px;
  // height: 10%;
  // width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-control {
  height: 250px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
}

.form-control-right {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #E98080;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 257px;
}

.submit-btn:hover {
  background-color: #eb5151;
}

.toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #f8f9fa;
}

.toolbar select,
.toolbar button {
  margin-right: 10px;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
  border-color: black;
}

.toolbar select {
  font-size: 14px;
  color: #555;
  border-radius: 4px;
  border-color: black;
}

.toolbar select:hover {
  font-size: 14px;
  border-radius: 4px;
  border-color: black;
  background-color: #e4e4e4;
}

.h3-header{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}